<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Nandri Masala</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
  <h1>About <span class="brand-name">Nandri Masala</span></h1>
  <p>Welcome to <span class="brand-name">Nandri Masala</span>, your ultimate destination for high-quality spices and masalas.</p>
  <p>At <span class="brand-name">Nandri Masala</span>, we are dedicated to providing our customers with the finest selection of authentic Indian spices, carefully sourced and expertly blended to enhance the flavor of your culinary creations.</p>
  <p>Our mission is to bring the rich and diverse flavors of Indian cuisine to kitchens around the world, making it easy for you to create delicious and memorable dishes that your family and friends will love.</p>
  <p>Explore our range of spices, from aromatic garam masala to fiery chili powder, and discover the secret ingredients that will take your cooking to the next level.</p>
  <p>Thank you for choosing <span class="brand-name">Nandri Masala</span>. We look forward to being a part of your culinary journey!</p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>


</html>
